<div class="flex">
  <% if notice %>
    <div class="inline-flex z-50 bg-emerald-100 border border-emerald-400 text-emerald-700 py-4 px-6 rounded absolute right-4 bottom-4" role="alert">
      <span class="text-xl inline-block mr-4 align-middle">
        <i class="fas fa-check"></i>
      </span>
      <span class="mr-8 block sm:inline align-middle"><%= notice %></span>
      <button class="relative bg-transparent text-xl font-semibold leading-none right-0 outline-none focus:outline-none" onclick="closeAlert(event)">
        <span>×</span>
      </button>
    </div>
  <% end -%>

  <% if alert %>
    <div class="inline-flex z-50 bg-red-100 border border-red-400 text-red-700 py-4 px-6 rounded absolute right-4 bottom-4" role="alert">
      <span class="text-xl inline-block mr-4 align-middle">
        <i class="fas fa-triangle-exclamation"></i>
      </span>
      <span class="mr-8 block sm:inline align-middle"><%= alert %></span>
      <button class="relative bg-transparent text-xl font-semibold leading-none right-0 outline-none focus:outline-none" onclick="closeAlert(event)">
        <span>×</span>

      </button>
    </div>
  <% end -%>
</div>
<script>
  function closeAlert(event){
    let element = event.target;
    while(element.nodeName !== "BUTTON"){
      element = element.parentNode;
    }
    element.parentNode.parentNode.removeChild(element.parentNode);
  }
</script>
